header {
  background-color: var(--color-primary);
  height: 60px;
  display: flex;
  align-items: center;

  .dsmovie-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    h1 {
      font-weight: 700;
      font-size: 24px;
    }

    h1,
    p {
      margin: 0;
    }

    .dsmoive-contact-contaner {
      display: flex;
      align-items: center;

      p {
        margin: 0 0 0 10px;
        font-size: 12px;
      }
    }
  }
}
